<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "styles/main.css">

</head>


<body>
    
    <div class = "header">
        <div class = "today">
            <img class ="icon" src = "images/calendar.svg"/>
            <a href = "/" style = "text-decoration: none; color:inherit;" ><h1>&nbspToday</h1></a>
        </div>

        <div class = "work"> 
            <img class ="icon" src = "images/alarm.svg"/>
            <a href = "/work" style = "text-decoration: none; color:inherit;" ><h1>&nbspWork</h1></a>
        </div>
    </div>
